/* Author: Nayra de Silvia */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
:root {
    --clr-primary: rgb(54, 112, 199);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
  }

  body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: #ffffff;
    color: #f4f4f4;
    display: grid;
    grid: "word word word word" auto
          ". name name ." auto
           "nav nav nav nav" auto
          "...... lists lists ......" auto
          
          ". footer footer ." auto
           /5vw minmax(100px, 3000px) minmax(30px, 400px) 5vw ;
  }

  /* Start header */
  #text {
    /*letter-spacing: 12px;*/
    grid-area: word;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
    position: relative;
    transform: translateY(-50%);
  }

  #text:hover {
    cursor: default;
  }

  #text .wrapper {
    display: inline-block;
    top: -900px;
    position: relative;
    height: 150px;
    width: 90px;
    transition: ease 0.3s all;
  }

  #text .wrapper span {
    position: absolute;
    top: 0;
    right: 0;
    transition: ease 0.3s all;
  }

  #text .wrapper span.letter-2 {
    color: rgba(95, 95, 95, 0.577);
    /*text-shadow: -5px 5px 0px #eb452b, 
                  -10px 10px 0px #efa032, 
                  -15px 15px 0px #46b59b, 
                  -20px 20px 0px #017e7f, 
                  -25px 25px 0px #052939;*/
  }

  #text .wrapper span.letter-1 {
    color: white;
    z-index: 1;
  }

  #text .wrapper span.letter-1:hover {
    top: -3px;
    right: -3px;
  }

  #text .wrapper span.letter-1:hover ~ .letter-2 {
    top: 3px;
    right: 3px;           
  }

  #text .wrapper span.space {
    padding: 0;
    min-width: 30px;
    display: inline-block;
  }
  
  .title {
    grid-area: header;
    text-align: center;
    font-size: calc(5vw + 1rem);
    font-weight: 900;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    margin: -0.5em 0 0.5em;
  }

  /* End header*/

  /*Coding Together*/

  .name{
    grid-area: name;
    font-family: 'Playfair Display', serif;
    font-weight: medium;

    padding-top: 12px;  
    padding-bottom: 10px;  
    margin-top: 40px;  
	  align-items: center;
	  text-align:center;
	  font-size: 1.5em;
	  height: 40px;
  	position: relative;
    width: 100%;
    letter-spacing: 2px;
  }


  /* Start navigation bar */
  .nav {
    grid-area: nav;
    font-family: "Noto Sans JP", sans-serif;
    text-transform: uppercase;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 600;
    
  }
  
  .nav * {
    box-sizing: border-box;
    transition: all .35s ease;
    
  }
  
  .nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  .nav a {
    padding: .5em .8em;
    color: rgba(255,255,255,.6);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav a::before,
  .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
    
  }
  
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid rgba(95, 95, 95, 0.984);
    border-right: 3px solid white;
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid rgba(95, 95, 95, 0.984);
    border-left: 3px solid white;
    transform: translate(100%, -50%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav .active{
      color:white;
  }
  
  .nav a:hover {
    color: white;
  }

  /* End navigation bar */

  /* Start checklist */

  .todo-list {
    margin-top: 50px;
    --spacer: 2rem;
    grid-area: lists;
    background: var(--clr-light);
    color: var(--clr-dark);
    padding: 5px;
    position: relative;
    border-radius: 7px;
    box-shadow: -2.5px 2.5px 2px rgba(119, 119, 119, 0.377);
  }
  
  .todo-header {
    padding: var(--spacer);
    border-radius: 7px;
    background: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .list-title {
    margin: 0 1em 0 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: rgb(46, 46, 46);
  }
  
  [type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
  
  .task label {
      font-size: 2.5vw;
    display: flex-inline;
    align-items: center;
    position: relative;
  }
  
  .task {
    margin: 1.25em;
    position: relative;
  }
  
  .task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5em;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
  }
  
  .custom-checkbox {
    --size: 0.55em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  
  .task:hover .custom-checkbox,
  [type="checkbox"]:hover + label .custom-checkbox {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #333;
  }
  
  [type="checkbox"]:checked + label .custom-checkbox {
    background: rgba(95, 95, 95, 0.377);
    border-color: rgba(95, 95, 95, 0.377);
    box-shadow: inset 0 0 0px 2px white;
  }
  
  [type="checkbox"]:checked + label {
    opacity: 0.5;
  }
  
  .task label::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    left: 1.5em;
    top: 50%;
    height: 3px;
    background: currentColor;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  }
  
  [type="checkbox"]:checked + label::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }

  .url{
      color:#333;
  }

  /* End checklist */

  /* Start footer and sign */

  .fixed-footer{
  grid-area: footer;
  padding-top: 0px;
  margin-top: 10px;
	align-items: center;
	background-color: transparent;
  right: 0;
  bottom: 0;
  left: 0;
	color: #333;
	text-align:center;
	font-size: .8em;
	height: 10px;
	position: relative;
	text-transform: uppercase;
  width: 100%;
  float: center;
}

.sign{
  padding-top: 5px;  
  padding-bottom: 10px;  
  margin-top: 5px;  
	align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
	color: rgb(44, 44, 44);
	text-align:center;
	font-size: 1.3vw;
	height: 40px;
	position: relative;
	text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  /*
  -webkit-background-clip: text;
  -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.5);
    */
}

/* End footer and sign */

/* Start calendar container */

.container {
    position: relative;
    width:"715"; height:"815";
    grid-area:lists;
    justify-self: center;
    margin-top: 50px;

    --spacer: 2rem;
    background: var(--clr-light);
    color: var(--clr-dark);
    padding: 5px;
    border-radius: 7px;
    box-shadow: -3px 3px 2px rgba(119, 119, 119, 0.377);
    }

  /* End calendar container */


  

  /* Task and Sign font-size for small devices */

  @media (max-width: 500px){
  
  .task label {
  font-size: 4vw;
}
  .sign{
  font-size: 3vw;
  }
}



/* Task and Sign font-size for medium devices */

@media (min-width: 1150px){
  .task label {
  font-size: 1.8vw;
}
.sign{
  font-size: 1vw;
  }
  .lecture li{
    font-size: 1.5vw;
  }
}

/* Task and Sign font-size for large devices */

@media (min-width: 2500px){
  .task label {
  font-size: 1.5vw;
}
  .sign{
    font-size: .8vw;
  }
  .lecture li{
    font-size: 1.3vw;
  }
}
